.cria {
    width:90%;
    max-width: 1400px;
    object-fit: cover;
    padding: 70px;
}

.slide-minguel {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.swiper-button-next,
.swiper-button-prev {
    color: white !important;  
}


.swiper-pagination-bullet {
    background-color: white !important;  
}


.swiper-pagination-bullet-active {
    background-color: white !important;  
}
